// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-red: #FFE0E1;
$blue: #62DDF5;
$light-blue: #E8FAFE;
$yellow: #FFC65A;
$light-yellow: #FFF7E8;
$orange: #E67E22;
$green: #1EDD88;
$ligth-green: #E4FFF3;
$purple: #7E73FF;
$light-purple: #ECEAFF;
$gray: #4A4A4A;
$light-gray: #EAEAEA;
$dark: #2e2f2f;
$cream: #fcf5e8;

$ruby: $red;
$javascript: $yellow;
$css: $blue;