@font-face {
  font-family: "CircularStd-Black";
  src: font-url('CircularStd-Black.ttf');
}
$circular: "CircularStd-Black";

@font-face {
  font-family: "SFProText-Regular";
  src: font-url('SFProText-Regular.otf');
}
$sf-pro: "SFProText-Regular";

// Define fonts for body and headers
$body-font: $sf-pro, "Helvetica", "sans-serif";
$headers-font: $circular, "Helvetica", "sans-serif";