<div class="form-post">
  <h1><%= @cheatsheet.title %></h1>
  <p><%= @cheatsheet.snippet %></p>
  <p>
  <% @cheatsheet.tags.each do |tag| %>
    <span class="tag <%= tag.style %>"><%= tag.name %></span>
  <% end %>
  </p>
</div>