.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  .category-item {
    flex: 0 0 29%;
  }
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: left;
  color: $gray;
  padding: 10px 10px 30px 10px;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  background-size: 20% !important;
  background-repeat: no-repeat !important;
  background-position: 87% 83% !important;
}

.category-selector:checked + label {
  color: white !important;
}


.category-selector[data-style=ruby] + label {
  background: image-url('ruby.svg'), white;
}

.category-selector[data-style=ruby]:checked + label {
  background: image-url('ruby-checked.svg'), $ruby;
  border-color: $ruby;
}


.category-selector[data-style=javascript] + label {
  background: image-url('javascript.svg'), white;
}

.category-selector[data-style=javascript]:checked + label {
  background: image-url('javascript-checked.svg'), $javascript;
  border-color: $javascript;
}


.category-selector[data-style=css] + label {
  background: image-url('css.svg'), white;
}

.category-selector[data-style=css]:checked + label {
  background: image-url('css-checked.svg'), $css;
  border-color: $css;
}


// Simple Form valid and invalid feedbacks

.category-selector.is-valid + label {
  background-color: white;
  border-color: $green;
  color: $green;
}

.category-selector.is-valid:checked + label {
  background-color: $green;
  border-color: $green;
  color: white;
}


.category-selector.is-invalid + label {
  background-color: white;
  border-color: $red;
  color: $red;
}

.category-selector.is-invalid:checked + label {
  background-color: $red;
  border-color: $red;
  color: white;
}