input[type="submit"] {
  background-color: white;
  font-size: 1rem !important;
  color: $purple;
  border-radius: $border-radius;
  width: 100%;
  padding: 5px;
  border: 1px solid #ffffff;
  box-shadow: 3px 3px 8px #e6e6e6, -3px -3px 8px #ffffff;
  transition: box-shadow 0.2s ease;
}

input[type="submit"]:hover{
  background-color: $light-purple;
  box-shadow: 1px 1px 2px #e6e6e6, -1px -1px 2px #ffffff;
}

label.string, label.text, legend {
  font-size: 1rem !important;
  font-family: $headers-font;
}

.form-group{
  margin-bottom: 1rem;
}


.form-control {
  border: none;
  background-color: $light-gray;
}


.snippet-language-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .form-check{
    padding-left: 0;
    flex: 0 0 29%;
  }
  
  input[type="radio"]{
    transform: scale(0);
    margin:0;
  }

  input[type="radio"] + label {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: $gray;
    padding: 10px 10px 30px 10px;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    background-size: 20% !important;
    background-repeat: no-repeat !important;
    background-position: 87% 83% !important;
  }
  
  input[type="radio"]:checked + label {
    color: white !important;
  }
  
  
  input[type="radio"].ruby + label {
    background: image-url('ruby.svg'), white;
  }
  
  input[type="radio"].ruby:checked + label {
    background: image-url('ruby-checked.svg'), $ruby;
    border-color: $ruby;
  }
  
  
  input[type="radio"].javascript + label {
    background: image-url('javascript.svg'), white;
  }
  
  input[type="radio"].javascript:checked + label {
    background: image-url('javascript-checked.svg'), $javascript;
    border-color: $javascript;
  }
  
  
  input[type="radio"].css + label {
    background: image-url('css.svg'), white;
  }
  
  input[type="radio"].css:checked + label {
    background: image-url('css-checked.svg'), $css;
    border-color: $css;
  }
}