input[type="submit"] {
  background-color: white;
  font-size: 1rem !important;
  color: $purple;
  border-radius: $border-radius;
  width: 100%;
  padding: 5px;
  border: 1px solid #ffffff;
  box-shadow: 3px 3px 8px #e6e6e6, -3px -3px 8px #ffffff;
  transition: box-shadow 0.2s ease;
}

input[type="submit"]:hover{
  background-color: $light-purple;
  box-shadow: 1px 1px 2px #e6e6e6, -1px -1px 2px #ffffff;
}

input[type="text"]{
  font-size: 0.8rem;
}

label.string, label.text, label.boolean, legend {
  font-size: 1rem !important;
  font-family: $headers-font;
  font-weight: 700;
}

.form-group{
  margin-bottom: 1rem;
}

.form-control {
  border: none;
  background-color: $light-gray;
}

.form-check{
  padding-left: 0;
}