// TODO:
input[type="submit"] {
  background-color: #fdfdfd;
  border-radius: 10px;
  margin: 21px auto 0px auto;
  padding: 10px;
  border: 1px solid #ffffff;
  color: $purple;
  box-shadow: 3px 3px 8px #e6e6e6, -3px -3px 8px #ffffff;
}

.cheatsheet_tags {
  .form-check {
    display: inline-block;
    padding-left: 0;
  }
  
  input[type="checkbox"] + label {
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: $rounded-pill;
    padding: 0.2rem 0.5rem;
    background-color: $light-purple;
    color: $purple;
    border: 1px solid $purple;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
  }
  
  input[type="checkbox"]:checked + label {
    background-color: $purple;
    color: white;
  }
  
  input[type="checkbox"] {
    transform: scale(0);
    margin:0;
  }
  
}
  
  
  
.cheatsheet_language {
  .collection-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-check{
    padding-left: 0;
    flex: 0 0 29%;
  }
  
  input[type="radio"]{
    transform: scale(0);
    margin:0;
  }


  input[type="radio"] + label {
    cursor: pointer;
    display: block;
    width: 100%;
    border: 1px solid #ced4da;
    color: white;
    border-radius: 2px;
    font-size: 0.8rem;
    padding: 10% 10% 60% 10%;
    background: white;
    text-align: left;
    border-radius: 10px;
  }
  
  
  input[type="radio"].ruby + label {
    background: image-url('ruby.svg'), white;
    color: $ruby;
    border-color: $ruby;
    background-repeat: no-repeat;
    background-position: 83% 83%;
    background-size: 17%;
  }
  
  input[type="radio"].ruby:checked + label {
    background: image-url('ruby-checked.svg'), $ruby;
    color:white;
    background-repeat: no-repeat;
    background-position: 83% 83%;
    background-size: 17%;
  }
  
  
  input[type="radio"].javascript + label {
    background: image-url('javascript.svg'), white;
    color: $javascript;
    border-color: $javascript;
    background-repeat: no-repeat;
    background-position: 83% 83%;
    background-size: 17%;
  }
  
  input[type="radio"].javascript:checked + label {
    background: image-url('javascript-checked.svg'), $javascript;
    color:white;
    background-repeat: no-repeat;
    background-position: 83% 83%;
    background-size: 17%;
  }
  
  
  input[type="radio"].css + label {
    background: image-url('css.svg'), white;
    color: $css;
    border-color: $css;
    background-repeat: no-repeat;
    background-position: 83% 83%;
    background-size: 17%;
  }
  
  input[type="radio"].css:checked + label {
    background: image-url('css-checked.svg'), $css;
    color:white;
    background-repeat: no-repeat;
    background-position: 83% 83%;
    background-size: 17%;
  }
}