body {
  height: 100vh;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  color: white;
  font-family: $body-font;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-top: 4px;
  text-align: left;
}