.language{
  background-repeat: no-repeat !important;
  background-position: 15px 18px, top !important;
  background-size: 20px, 100% !important;
  height: 210px;
  padding: 14px 48px;
  overflow-y: auto;

  &.ruby{
    background: image-url('ruby.svg'), white;
  }
  
  &.javascript{
    background: image-url('javascript.svg'), white;
  }
  
  &.css{
    background: image-url('css.svg'), white;
  }
}
