.tag {
  font-size: 0.8rem;
  border-radius: $rounded-pill;
  padding: 0.2rem 0.5rem;
  background-color: $light-purple;
  color: $purple;
  border: 1px solid $purple;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
}
