.tag {
  display: inline-block;
  font-size: 0.7rem;
  border-radius: $rounded-pill;
  padding: 0.1rem 0.5rem;
  background-color: $light-purple;
  color: $purple;
  border: 1px solid $purple;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: $rounded-pill;
  padding: 0.1rem 0.5rem;
  background-color: $light-purple;
  color: $purple;
  border: 1px solid $purple;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $purple;
  color: white;
}


// Simple Form valid and invalid feedbacks

.tag-selector.is-valid + label {
  background-color: $light-green;
  border-color: $green;
  color: $green;
}

.tag-selector.is-valid:checked + label {
  background-color: $green;
  border-color: $green;
  color: white;
}

.tag-selector.is-invalid + label {
  background-color: $light-red;
  border-color: $red;
  color: $red;
}

.tag-selector.is-invalid:checked + label {
  background-color: $red;
  border-color: $red;
  color: white;
}